VITE_SUPABASE_ANON_KEY=sb_publishable_vzgXVF7qAF3sLaJAavnFSg_EVwcKBCh
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_SUPABASE_URL=https://ivrqnbqajpifgshyvxwz.supabase.co
VITE_SUPABASE_ADMISIONES_TABLE=admisiones
VITE_SUPABASE_PACIENTES_TABLE=pacientes
VITE_SUPABASE_INGRESO_HISTORIAL_TABLE=ingreso_historial
